* {
  margin: 0px;
  padding: 0px;
  font-family: 'Single Day';
  background-color: #7f27ff;
  background-image: url('https://www.transparenttextures.com/patterns/back-pattern.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
